thead {
  background-color: #08d;
  color: #fff;
}

table {
  table-layout: fixed;
  width: 90% !important;
  box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

th,
td {
  word-wrap: break-word;
}

tbody tr:nth-child(odd)>* {
  background-color: #D2E8FD;
}